*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 70px 20px;
    
}
.todo{
    width: 100%;
   
    min-width: 300px;
    max-width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
     margin: auto; 
    box-shadow: inset 0 -1em 2em rgb(68, 66, 66), 0 0 0 1px rgb(98, 96, 96), 0.3em 0.3em 1em  rgb(67, 66, 66);
}



.title{
 font-weight: 700;
  margin-top: .3em;

}

.head{
    display: flex;
    margin: 15px 20px;
}
.parrafo{
    color: #575757;
    font-size: 1rem;
    margin: 20px 30px;
}
.btn{
    margin: 70px 160px;
     padding: .3em;
     width: 30%;
     font-size: 1rem;
     border: none;
     border-radius: 10px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 300;
}

.image{
    width: 20%;
}